.text-red {
    color: blue;
}

.counter-border {
    background-color: lightgreen;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius:  3px;
    border: solid black 2px;

}

.center-box {
    margin: 10px 10px 10px 10px;
    background-color: grey;
    padding: 10px 10px 10px 10px;
    border: solid black 2px;
    border-radius:  3px;
}

.my-table {
    justify-content: center;
    display: flex;
}

.margin-top-50 {
    margin-top:50px;
}

.my-center-text {
    text-align: center;
}

.style-btn {
    border: none;
    padding: 10px 10px 10px 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: blue;
} 

.list-el {
    text-align: center;
}